.popup__field-error {
  color: #ff0000;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  visibility: collapse;
  min-height: 30px;
  display: block;
  /* position: absolute;
  top: 30%;
  left: 50%; */
}
