.profile__full-name {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 46px;
  max-width: 450px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* align-self: flex-start; */
}

@media all and (max-width: 680px) {
  .profile__full-name {
    max-width: 300px;
  }
}

@media all and (max-width: 550px) {
  .profile__full-name {
    font-size: 27px;
    line-height: 33px;
    max-width: 200px;
    text-align: center;
    /* margin-top: 26px; */
  }
}
