.popup__field {
  /* margin-top: 30px; */
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline-style: none;
  width: 100%;
  /* height: 27px; */
  padding: 0;
  /* position: relative; */
}

/* .popup__field:last-of-type {
  margin-bottom: 48px;
} */

/* .popup__field:first-child {
  margin-top: 0;
} */

.popup__field:focus {
  border-bottom: 1px solid black;
  /* border-radius: 5px;
  padding-left: 10px;
  width: calc(100% - 10px); */
}

.popup__field::placeholder {
  color: #c4c4c4;
}
